.blogPostsWrap {
    border: 1px solid firebrick;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.blogPostsMainWrap {
    border: 1px solid teal;
    display: flex;
}

/* .tox-tinymce{
    border: 1px solid green !important;
    width: 75%
}
 */
.blogEditor{
    border: 1px solid yellow !important;
    width: 75%
}

.slateEditor{
    max-width: 42em;
    background: rgb(255, 255, 255);
    margin: 20px auto;
    padding: 20px;
}

.slateEditor html, .slateEditor input, .slateEditor textarea {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    background: #eee;
}
.slateEditor body {
    margin: 0;
}
.slateEditor p {
    margin: 0;
}
.slateEditor pre {
    padding: 10px;
    background-color: #eee;
    white-space: pre-wrap;
}
.slateEditor :not(pre) > code {
    font-family: monospace;
    background-color: #eee;
    padding: 3px;
}
.slateEditor img {
    max-width: 100%;
    max-height: 20em;
}
.slateEditor blockquote {
    border-left: 2px solid #ddd;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    color: #aaa;
    font-style: italic;
}
.slateEditor blockquote[dir='rtl'] {
    border-left: none;
    padding-left: 0;
    padding-right: 10px;
    border-right: 2px solid #ddd;
}
.slateEditor table {
    border-collapse: collapse;
}
.slateEditor td {
    padding: 10px;
    border: 2px solid #ddd;
}
.slateEditor input {
    box-sizing: border-box;
    font-size: 0.85em;
    width: 100%;
    padding: 0.5em;
    border: 2px solid #ddd;
    background: #fafafa;
}
.slateEditor input:focus {
    outline: 0;
    border-color: blue;
}
.slateEditor [data-slate-editor] > * + * {
    margin-top: 1em;
}
