.homeGallWrap {
    border: 1px solid green
}

.homeImagesWrap {
    border: 2px solid olive;
    display: flex;
    overflow-x: scroll;
    width: calc(100% - 100px);
    height: 300px;
    margin: 20px auto;
}

.homeImage{
    /* height: 350px; */
    width: 500px;
    /* border: 1px solid firebrick */
}

.homeImageMini {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 296px;
    margin: 7.5px;
}

.homeGallButt {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    transition: all .3s ease-in-out;

}

.hgButt {
    width: 300px;
    height: 40px;
    color: #e0e0e2;
    background-color: #7a457d;
    transition: all .3s ease-in-out;
    border: 0;
    border-radius: 5px;
    margin: 10px ;

}

.hgButt:hover{
    cursor: pointer;
    background-color: #9754a0;
    transform: scale(1.01);
}

.hgButt:active{
    border: 0;   
}

.hgButt:focus{
    border: 0;
    outline: none;
}

.gallAction {
    display: none;
    border: 2px solid hotpink;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 67px;
    transition: all .3s ease-in-out;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 70px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
}


.inputfile + label {
    display: flex;
    z-index: 100;
    width: 300px;
    bottom: 8px;
    margin: 25px auto;
    height: 40px;
    padding: 0 11px;
    border-radius: 2px;
    background-color: #7a457d;
    box-shadow: 0 2px 8px 0 rgba(27, 38, 52, 0.36);
    border: solid 1px rgba(27, 38, 52, 0.24);
    font-size: 13px;
    font-weight: 500;
    line-height: 1.23;
    letter-spacing: 0.4px;
    color: #e0e0e2;
    text-transform: uppercase;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease-in-out;

}


.inputfile + label:hover {
    background-color: #9754a0;
    transform: scale(1.01);

}

.removeImage{

}

.delTable {
    /* display: flex; */
    border: 1px solid pink 
}

.delTableRow{
    height: 100px;
    /* padding-top: 10px; */
    /* border: 1px solid gold; */
    display: flex;
    border-right: 1px solid green;
}

.delTableRow > div {
    border-right: 1px solid green;
    padding: 15px;
}

.tableImage{
    width: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.tableDesc{
    width: 300px;
}

.head{
    height: 50px !important;
}

.tableCre{
    width: 150px;
}

.tableDel{
    width: 50px;

}

.tableDel:hover{
    cursor: pointer;
}

.delTableRow * {
    margin: 0 10px;
}


.delTableRow:nth-child(odd) {
    background-color: #f9f9f9;
    /* border: 1px solid olive; */
}

.delTableRow:nth-child(even) {
    background-color: #f3f3f3;
    /* border: 1px solid fuchsia; */
}

